{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Welcome To About Page</h1>
    <img style="height: 150px;width: 300px;" src="{% static 'images/img.jfif' %}">
    <p><b>As in the movie The Lion King, a software project will follow its own circle of life, from project initiation, through project execution, and finally to project termination and closeout. Along its circle of life, a project requires documentation. Sunset documentation supports the requirements and activities associated with a project’s eventual termination and closeout. It also supports the requirements and activities associated with any subsequent reconstitution of the project. After a project ends and its support staff disperses, sunset documentation may represent the only public record for the project and provide the only keys to reactivate it.</b></p>
{% endblock content %}